@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background: linear-gradient(to right, #FCF9FF 50%, #FCF9FF 50%, #FFFFFF 50%, #FFFFFF 50%); */
    background: linear-gradient(to right, #171A21 50%, #FCF9FF 50%, #FFFFFF 50%, #16181f 50%);
    width: 100%;
    font-family: 'Poppins';
    font-size: 15px;
    height: 100%;
    padding: 100px 0;
    font-family: 'Poppins';
    overflow: auto;
    box-sizing: border-box;
}

.login-box {
    margin: auto;
    width: 512px;
    /* width: 60%; */
    position: relative;
    /* background-color: #FFFFFF; */
    background-color: #1b2838;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 3px 24px #0000000F;
    box-sizing: border-box;
}

.app-title {
    position: absolute; 
    top: -40px;
    left: 0;
    right: 0;
    color: #409092;
    text-align: center;
    margin: 0 auto;
    font-size: 23px;
}

.text-center {
    text-align: center;
}
a{
    text-decoration: none;
    color: #66c0f4;
}

@media screen and (max-width: 600px) {
    .login-box {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .container{
        height: unset;
    }

    /* .login-box {
        margin: 10px auto;
    } */
}